{% extends "base.html" %}
{% block title %}
About Us
{% endblock %}
{% block body %}

<header class="mastheadprofile">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center profilerectangle" style="margin-top:1px">
       <h1>About us</h1>
        <div class="col-xl-4 col-lg-5 w-50 m-5">
            Hey there! we are 6 students from Politecnico di Torino and we developed this application to make sure <h2>everyone</h2> can enjoy the beutiful
            experience of hiking. Sign up and start searching for your new adventure in your province or in the province you want to visit.
        </div>
    </div>
</header>
{% endblock %}
